In [12]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('./Proj-02-Data/GGS_defence.csv')
df.head(10)

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME     Value  Flag Codes
0      GRC     GGEXP     DEF  PC_GDP         A  2013  2.147195         NaN
1      GRC     GGEXP     DEF  PC_GDP         A  2014  2.662652         NaN
2      GRC     GGEXP     DEF  PC_GDP         A  2015  2.506511         NaN
3      GRC     GGEXP     DEF  PC_GDP         A  2016  2.099860         NaN
4      GRC     GGEXP     DEF  PC_GDP         A  2017  2.489213         NaN
5      GRC     GGEXP     DEF  PC_GDP         A  2018  2.030711         NaN
6      JPN     GGEXP     DEF  PC_GDP         A  2013  0.912127         NaN
7      JPN     GGEXP     DEF  PC_GDP         A  2014  0.941725         NaN
8      JPN     GGEXP     DEF  PC_GDP         A  2015  0.919559         NaN
9      JPN     GGEXP     DEF  PC_GDP         A  2016  0.878538         NaN

In [88]:
oecd_countries = sorted(df.LOCATION.unique())

In [74]:
from collections import defaultdict
'''
create a dictionary of dataframes containing country, code, and SPI data
(spans years 2014-2019)

it excludes the first row (world SPI) and countries at the tail with no SPI values
'''
spi_data = pd.read_excel('./Proj-02-Data/2014-2019-SPI-Public.xlsx', sheet_name=None)
spi = defaultdict()
for i in range(2014, 2020):
    spi[str(i)] = spi_data[str(i)][['Country', 'Code', 'Social Progress Index']][1:]
    spi[str(i)] = spi[str(i)][spi[str(i)]['Social Progress Index'].notna()]

In [100]:
top50 = spi['2019'].sort_values(by=['Social Progress Index'], ascending=False)[:50]
top50[-top50['Code'].apply(lambda x: x in oecd_countries)]

         Country Code  Social Progress Index
100  New Zealand  NZL                  88.93
24        Canada  CAN                  88.81
124    Singapore  SGP                  83.23
36        Cyprus  CYP                  83.14
88         Malta  MLT                  82.63
34       Croatia  HRV                  79.21
10      Barbados  BRB                  77.89
147      Uruguay  URY                  77.77
5      Argentina  ARG                  76.86
18      Bulgaria  BGR                  76.17
90     Mauritius  MUS                  74.88
116      Romania  ROU                  74.81
86      Malaysia  MYS                  74.17
107       Panama  PAN                  73.96
11       Belarus  BLR                  73.90
17        Brazil  BRA                  72.87
69       Jamaica  JAM                  72.58

In [124]:
columns = ['Country Name', 'Country Code', '2013', '2014', '2015', '2016', '2017', '2018']

In [127]:
gdp_per_capita_PPP = pd.read_csv('./Proj-02-Data/GDP_per_capita_PPP_current_international_$/GDP_per_capita_PPP.csv', skiprows = 4)
gdp_per_capita_PPP[columns]

,Country Name,Country Code,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,36477.779389,36444.262057,36765.116071,37359.373438,38442.413838,NaN
1,Afghanistan,AFG,2015.514962,2069.424642,2087.305323,2128.988026,2202.570851,2241.923246
2,Angola,AGO,7682.477158,8179.296007,7337.569559,7103.225938,7310.901738,7097.118768
3,Albania,ALB,10570.977180,11259.246206,11661.976873,12002.931899,13037.010016,13833.981603
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,8805.379754,9043.183283,9575.754880,10062.108264,10530.481665,11152.381034
260,"Yemen, Rep.",YEM,3688.519849,NaN,NaN,NaN,NaN,NaN
261,South Africa,ZAF,12450.497503,12520.713748,12552.340127,12592.486871,12703.421242,12928.794215
262,Zambia,ZMB,3578.853190,3539.434996,3430.403576,3404.663123,3485.002103,3604.628943
263,Zimbabwe,ZWE,2560.777487,2612.461530,2679.510136,2806.458631,3028.245976,3203.888554

In [131]:
health_spending = pd.read_csv('./Proj-02-Data/Govt_health_spending.csv')
health_spending

    LOCATION  INDICATOR     SUBJECT MEASURE FREQUENCY  TIME  Value Flag Codes
0        AUS  HEALTHEXP  COMPULSORY  PC_GDP         A  2013  5.678        NaN
1        AUS  HEALTHEXP  COMPULSORY  PC_GDP         A  2014  5.830          D
2        AUS  HEALTHEXP  COMPULSORY  PC_GDP         A  2015  6.111          D
3        AUS  HEALTHEXP  COMPULSORY  PC_GDP         A  2016  6.078          D
4        AUS  HEALTHEXP  COMPULSORY  PC_GDP         A  2017  6.120          D
..       ...        ...         ...     ...       ...   ...    ...        ...
327      ROU  HEALTHEXP  COMPULSORY  PC_GDP         A  2017  4.051        NaN
328      ROU  HEALTHEXP  COMPULSORY  PC_GDP         A  2018  4.430        NaN
329      ROU  HEALTHEXP  COMPULSORY  PC_GDP         A  2019  4.582          E
330      MKD  HEALTHEXP  COMPULSORY  PC_GDP         A  2017  4.115        NaN
331      SRB  HEALTHEXP  COMPULSORY  PC_GDP         A  2017  4.792        NaN

[332 rows x 8 columns]

In [160]:
military1 = pd.read_csv('./Proj-02-Data/Military Spending/military-expenditure-as-share-of-gdp.csv')
military1

FileNotFoundError: [Errno 2] File ./Proj-02-Data/Military Spending/military-expenditure-as-share-of-gdp.csv does not exist: './Proj-02-Data/Military Spending/military-expenditure-as-share-of-gdp.csv'

In [135]:
edu = pd.read_csv('./Proj-02-Data/GOV expenditure on edu, total (%GDP)/Education/Expenditure on education as % of GDP (from government sources).csv')

In [170]:
all_edu = edu[edu['Indicator'] == 'Government expenditure on education as a percentage of GDP (%)']
edu1_countries = all_edu['Country'].unique()

In [188]:
#which one to use, the one with 2 more countries, which ones are those, what countries should I focus on to match nums??
edu2 = pd.read_csv('./Proj-02-Data/GOV expenditure on edu, total (%GDP)/govt_expend_education_%gdp.csv', skiprows=4)
edu2[['2013', '2014', '2015', '2016', '2017','2018','2019']].dropna(how='all').shape

(197, 7)

In [171]:
edu2_countries = edu2.loc[indexes]['Country Name'].unique()

In [176]:
'Canada' in edu2_countries

False

In [187]:
years = ['2013', '2014', '2015', '2016', '2017', '2018']
all_edu[all_edu['TIME'].isin(years)]['Country'].unique().shape

(159,)

In [189]:
all_edu[all_edu['Country'] == 'Canada']

,EDULIT_IND,Indicator,LOCATION,Country,TIME,Time,Value,Flag Codes,Flags
9007,XGDP_FSGOV,Government expenditure on education as a perce...,CAN,Canada,1999,1999,5.54994,NaN,NaN
9008,XGDP_FSGOV,Government expenditure on education as a perce...,CAN,Canada,2000,2000,5.44200,NaN,NaN
9009,XGDP_FSGOV,Government expenditure on education as a perce...,CAN,Canada,2001,2001,4.96956,NaN,NaN
9010,XGDP_FSGOV,Government expenditure on education as a perce...,CAN,Canada,2002,2002,5.01073,NaN,NaN
9011,XGDP_FSGOV,Government expenditure on education as a perce...,CAN,Canada,2005,2005,4.78215,NaN,NaN
9012,XGDP_FSGOV,Government expenditure on education as a perce...,CAN,Canada,2007,2007,4.78036,NaN,NaN
9013,XGDP_FSGOV,Government expenditure on education as a perce...,CAN,Canada,2008,2008,4.63826,NaN,NaN
9014,XGDP_FSGOV,Government expenditure on education as a perce...,CAN,Canada,2009,2009,4.85264,NaN,NaN
9015,XGDP_FSGOV,Government expenditure on education as a perce...,CAN,Canada,2010,2010,5.36993,NaN,NaN
9016,XGDP_FSGOV,Government expenditure on education as a perce...,CAN,Canada,2011,2011,5.27444,NaN,NaN